/* =========================
   HERO SECTION
========================= */
.hero-section {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/page1.jpg') center/cover no-repeat;
  text-align: center;
  padding: 100px 20px;
  border-radius: 20px;
}

.hero-text h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.hero-text p {
  font-size: 1.5rem;
  color: #eee;
  margin-top: 10px;
}